<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME}% !-f
RewriteCond %{REQUEST_FILENAME}% !-d
#добавили эту строчку и выполнили в консоли openserver - composer update
RewriteCond %{REQUEST_URI}% !^/static/

RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
